version: 2.1
jobs:
  build:
    docker:
      - image: cimg/python:3.14.2
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install requests
      - run:
          name: Run tests
          command: python GitHubApi567-hw3a/hw03a_test.py